 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body{
background: #000000;
}


/* HOME */

.home{
    display: flex;
    align-items: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    height: 700px;
    padding: 60px 9% 0;
    padding-right: 50px;

}

.home-info h1 {
    font-size: 38px;
    padding-bottom: 10px;
 
    
}

.home-info h2 {
    font-size: 22px;
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
   

}

.home-info h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .8px white;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
   
}

@keyframes display-text {
    25%,100%{
        display: none;
    }
}

.home-info h2 span::before{
    content:attr(data-text);
    position: absolute;
    width: 0;
    border-right:2px solid white;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
     animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
    10%,100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}

.home-info p {
    font-size: 15px;
    margin: 0%;
    padding-bottom: 25px;
    padding-top: 20px;
   
}

.home a{
    font-size: 21px;
    border-bottom: none;
    text-decoration: none;
    color: rgb(224, 226, 223);
    display: inline-flex;
    padding: 10px;
    border: 2px solid white;
    border-radius: 50px;
    margin: 0 8px;
    transition: 1s;

}

.home a:hover {
    color: rgb(119, 189, 119);
    background-color: white;
    box-shadow: 0 0 10px;
}
 

 /* navbar */
 
 nav{
    display: flex;
    
    justify-content: space-around;
    padding: 20px 0;
    color: white;
    align-items: center;
    animation: 0,4s;
 }

 nav ul{
    display: flex;
    list-style: none;
   
    justify-content: space-between;
    width: 50%;
     font-family: "Poppins", sans-serif;
 }

 nav ul li a{
    color: rgb(146, 145, 145);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
 }

 nav .logo{
 font-family: "Montserrat", sans-serif;
 }

 nav ul li a:hover{
    color: white;
 }



/* hamburger menu */

/* .menu-toggle {
display: flex;
flex-direction: column;
height: 20px;
justify-content: space-between;
position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -6px;
    top: -5px;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
width: 28px;
height: 3px;
background-color: white;
border-radius: 3px;
transition: all 0.5s;
} */



/* responsive breakpoint */

 /* ukuran tablet */
 @media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
 }

 .menu-icon {
    display: none;
 }

 /* ukuran mobile */

 @media screen and (max-width: 576px) {
  

    nav ul.hidden{
        display: none;
    }
  
  
    .menu-icon{
    display: flex;
    position: relative;
   }
    nav ul {
        flex-direction: column;
        right: 0;
        top: 0;
    height: 300px;
        align-items: center;
    
    }

    .menu-icon {
font-size: 50px;
}
}

.menu-icon {
font-size: 30px;
}



/* IMG */


.home-img .img-box{
    width: 350px;
    height: 350px;
    background-color:white;
    border-radius: 50%;
    padding: 5px;
    padding-right: 10px;

}

.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.home-img .img-box::before {
    content: '';
    position: absolute;
    width: 500px ;
    background: conic-gradient(transparent #fff);
}

.home-img .img-box .img-item img {
    position: absolute;
    display: block;
    width: 85%;
    object-fit: cover;
   mix-blend-mode: lighten;
   position: relative;
}


.about {
    font-family: "Poppins", sans-serif;
  color: #fff;
}

.about-info{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.about-info .box{
    flex: 1;
}

.about-info .box1{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.about-info .box1 img{
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 20px;
}

.about .box p{
    display: flex;
    flex-direction: row;
}

.about .about-info h1{
text-align: center;
font-size: 40px
}

.box1 {
height: 100%;
width: 100%;

}

.box1 img{
    width: 400px;
    height: auto;
    border-radius: 20px;
    display: block;
    margin: 20px auto;
}


/* FORM */

.container {
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 10px;
}

.contact-container {
    width: 90%;
    max-width: 400px;
    margin: 0 auto; 
}


/* Form Styling */
.input-group {
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
   justify-content: space-between;
}

label {
    display: block;
    color: white; 
    margin-bottom: 8px;
    font-weight: 500;
}

input, textarea {
    width: 100%;
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: white;
    color: #333;
    font-size: 16px;
    outline: none;
}

.btn-submit {
    margin-top: 10px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover {
    background-color: white;
    color: black;
}